server:
  port: ${PORT:0}

spring:
  application:
    name: respuesta-service

  data:
    mongodb:
      uri: mongodb://localhost:27017/db_ms_respuestas

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace
    io.micrometer.tracing: DEBUG
    org.springframework.web: DEBUG

eureka:
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${random.value}
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
